* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.top {
    background-color: rgb(159, 197,248);
    color: rgb(255, 255, 255);
}

.container, .nav {
    width: 950px;
    margin: 0 auto;
}

.nav {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav h1 {
    font-size: 40px;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
}

.subtitle-line {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(153, 153, 153);
}

.subtitle-line h2 {
    font-size: 30px;
}

.subtitle-line select, .subtitle-line label {
    font-size: 20px;
    padding: 5px;
}

.subtitle-line select {
    width: 60px;
}

.row {
    display: flex;
}

.forecast {
    flex: 1;
    text-align: center;
    background-color: rgb(221, 221, 221);
    padding: 40px 0;
    margin-right: 20px;
}

.forecast:last-child {
    margin-right: 0;
}

.forecast img {
    border-radius: 50%;
    width: 156px;
    margin: 40px 0;
}

.forecast p {
    font-size: 20px;
}

.temperatures {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.high, .low {
    font-size: 25px;
    font-weight: 900;
}

.high::after, .low::after {
    content: "°";
}

.high {
    color: rgb(207, 42, 39);
}

.low {
    color: rgb(43, 120, 228);
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.cookie-policy {
    box-sizing: border-box;
    width: 950px;
    height: 160px;
    padding: 20px;
    border: 2px solid rgb(153, 153, 153);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid rgb(0,0,0);
    box-shadow: 4px 4px rgb(0,0,0);
    background-color: rgb(159, 197, 248);
    cursor: pointer;
}

.text {
    width: 70%;
}

.text h2 {
    font-size: 30px;
}

.text p {
    font-size: 20px;
}